<!DOCTYPE html>
<html>
    <head>
    <title>Subscriber</title>
    </head>
    <body>
        <h4>{{ subscriber.name }}</h4>
        <h5>{{ subscriber.email }}</h5>
        <h1>Crawlers List</h1>
        <div>
            <ul>
                {% for crawler in subscriber.webcrawlers.all %}
                <li>
                    <p><a href="/webcrawlers/{{ crawler.id }}/">{{crawler.site_name }}</a></p>
                </li>
                <li>
                    <p>{{ crawler.site_url }}</p>
                </li>
                <li>
                    <p>{{ crawler.site_endpoint }}</p>
                </li>
                <li>
                    <p>{{ crawler.item }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
